/* portfolio */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.image {
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
}

.portfolio > div:first-child {
    text-align: center;
  }