/* portfolio */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.image {
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
}

.portfolio > div:first-child {
    text-align: center;
  }

  /* contact  */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-header {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    text-align: left;
  }
  
  button[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  .Hans {
    margin-top: 20px;
  }
  
  .email {
    color: #007bff;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .email:hover {
    text-decoration: underline;
  }
  

  /* resume */